body {
	overflow-x: hidden!important;
	background: #F9FAFF;
}

/********Global Css*********/
.font-serif {
	font-family: sans-serif!important;
}

.letter-spacing-05 {
	letter-spacing: 0.5px!important;
}

.letter-spacing-1 {
	letter-spacing: 1px!important;
}

.left-0 {
	left: 0;
}

.right-0 {
	right: 0;
}

.top-0 {
	top: 0;
}

.bottom-0 {
	bottom: 0;
}


/****** Banner Section ******/

.top-banner-bg {
	background-image: url('../../public/images/png/top-banner.png');
	background-repeat: no-repeat;
    background-size: cover;
	.main-title {
		@include media-breakpoint-only(md) {
			font-size: 3rem!important;
		}
		@include media-breakpoint-only(sm) {
			font-size: 2.5rem!important;
		}
		@include media-breakpoint-down(xs) {
			font-size: 2rem!important;
		}
	}
	.main-sub-title {
		@include media-breakpoint-down(xs) {
			font-size: 0.75rem!important;
		}
	}
}

.custom-top-padding {
	padding: 100px 0 0;
}

.right-section {
	.form-card {
		border-radius: 30px;
		//border: 3px solid #005C9B;
		background-color: #D9D9D9;
		.professional-details {
			.form-group {
				margin-bottom: 3.75rem;
			}
		}
		.form-control {
			background-color: $white;
			color: $black;
			text-align: left;
			border-radius: 50px;
			border-color: $white;
			font-weight: bold;
			// font-family: 'VAG-Rounded-Thin';
			letter-spacing: 0.5px;
			font-size: 18px;
			padding: 0;
			height: calc(2em + 0.75rem + 2px);
			&::placeholder {
				color: $black;
				font-weight: bold;
			}
		}
		.custom-control-input{
			&:focus {
				~.custom-control-label {
					&::before {
						box-shadow: none;
						border-color: #819FB8;
					}
				}
			}
		}
		.custom-control-label {
			color: $primary;
			&::before {
				background-color: #819FB8;
				border-color: #819FB8;
			}
		}
		.btn {
			border-radius: 50px;
			// box-shadow: 0 0 10px 0 #8e8e8e;
			padding: 14px 30px;
			text-transform: uppercase;
			&.btn-primary {
				border: 1.5px solid $primary;
			}
			&.btn-secondary {
				border: 1.5px solid $secondary;
				padding: 14px 60px;
				color: $white;
			}
			&.btn-step-3 {
				&.btn-primary {
					padding: 14px;
				}
				&.btn-secondary{
					padding: 14px 36px;
				}
				&.btn-danger {
					padding: 14px 28px;
				}
			}
		}
	}
}


/**************** Site Preloader *****************/
.site-preloader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
	background: #fff;
	.animation-preloader {
		position: absolute;
		z-index: 100;
		.spinner {
			animation: spinner 1s infinite linear;
			border-radius: 50%;
			border: 5px solid rgba(9, 29, 61, .15);
			border-top-color: #091d3d;
			height: 150px;
			margin: 0 auto 45px auto;
			width: 150px;
		}
		.txt-loading {
			text-align: center;
			user-select: none;
			.letters-loading{
				font-family: Lato, sans-serif;
				font-weight: 700;
				letter-spacing: 2px;
				display: inline-block;
				color: rgba(9, 29, 61, .15);
				position: relative;
				font-size: 25px;
				line-height: 0;
				&:before {
					animation: letters-loading 4s infinite;
					color: #091d3d;
					content: attr(data-text-preloader);
					left: 0;
					opacity: 0;
					top: 0;
					line-height: 0;
					position: absolute;
				}
				&:nth-child(2):before {
					animation-delay: .2s
				}
				&:nth-child(3):before {
					animation-delay: .4s
				}
				&:nth-child(4):before {
					animation-delay: .6s
				}
				&:nth-child(5):before {
					animation-delay: .8s
				}
				&:nth-child(6):before {
					animation-delay: 1s
				}
				&:nth-child(7):before {
					animation-delay: 1.2s
				}
				&:nth-child(8):before {
					animation-delay: 1.4s
				}
				&:nth-child(9):before {
					animation-delay: 1.6s
				}
				&:nth-child(10):before {
					animation-delay: 1.8s
				}
				&:nth-child(11):before {
					animation-delay: 2.0s
				}
			}
		}
	}
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes letters-loading {
    0%,
    100%,
    75% {
        opacity: 0;
        transform: rotateY(-90deg)
    }
    25%,
    50% {
        opacity: 1;
        transform: rotateY(0)
    }
}

@media screen and (max-width:767px) {
    .site-preloader {
		.animation-preloader {
			.spinner {
				height: 8em;
				width: 8em
			}
		} 
	} 
}

@media screen and (max-width:500px) {
    .site-preloader {
		.animation-preloader {
			.spinner {
				height: 7em;
				width: 7em;
				margin: 0 auto 20px;
			}
			.txt-loading {
				.letters-loading {
					font-size: 20px;
					letter-spacing: 0;
				}
			} 
		} 
	} 
}


/*************** Scroll To Top ****************/
.scrollToTop {
	background: $white;
	bottom: 1rem;
	display: none;
    height: 45px;
    padding: 8px;
    position: fixed;
    right: 1rem;
    text-align: center;
    text-decoration: none;
    width: 45px;
    z-index: 99999;
	border-radius: 50%;
	box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.14);
	i {
		color: $primary;
		font-size: 1.5rem;
		vertical-align: middle;
	}
	&:hover {
		text-decoration: none;
	}
}


/**************** Tabs Section Css ****************/
.custom-nav-tabs-section {
	.custom-nav-tabs-div {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: $black;
			left: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
		.custom-nav-tabs-wrapper {
			@include media-breakpoint-down(sm) {
				border: 0!important;
			}
			.custom-nav-tabs {
				&.nav-pills {
					flex-wrap: nowrap;
					overflow: auto;
					white-space: nowrap;
					width: 100%;
					padding-bottom: 10px!important;
					&::-webkit-scrollbar-thumb,
					&::-webkit-scrollbar-track {
						background: transparent; 
					}
				}
				.nav-item {
					a {
						font-size: 19px;
						font-weight: bold;
						&.nav-link {
							color: $white;
							transition: .3s ease-out;
							box-shadow: #bebebe 2px 2px 8px 0px;
							background: #9F9F9F;
							padding: 1rem;
							width: 160px;
						}
						&.nav-link {
							&.active {
								color: $white;
								position: relative;
								background: $primary;
								// &:after {
								// 	content: '';
								// 	border-bottom: 3px solid $primary;
								// 	display: block;
								// 	position: absolute;
								// 	bottom: -10px;
								// 	width: 100%;
								// 	margin: 0 auto;
								// 	left: 0;
								// 	right: 0;
								// }
							}
						}
					}
				}
			}
		}
	}
	.tab-content {
		.tab-pane {
			.custom-tab-list {
				padding-left: 0;
				padding-right: 64px;
				text-align: justify;
				li {
					margin-bottom: 30px;
					line-height: 1.3;
				}
			}
			// &.active {
			// 	animation: slide-down .4s ease-out;
			// }
		}
	}
}

// @keyframes slide-down {
//     0% { opacity: 0; transform: translateX(100%); }
//     100% { opacity: 1; transform: translateX(0); }
// }


/**************** Product Overview Section Css ****************/

/***** Accordion Section Css *****/
.overview-sec-2 {
	&.accordion {
		.download-card {
			background: #E3E3E3;
			border: none;
			.card-header {
				background: transparent;
				border-bottom: none;
				.download-heading {
					position: relative;
					&::after {
						content: "";
						width: 250px;
						height: 3px;
						position: absolute;
						background: $black;
						bottom: -7px;
						left: 0;
						right: 0;
						margin: 0 auto;
					}
				}
				.accicon {
					position: absolute;
					font-size: 40px;
					top: 30px;
					right: 40px;
				}
			}
			.card-body {
				padding-bottom: 35px;
				.download-btn-sec {
					.btn-download {
						color: $black;
						background-color: $white;
						border-color: $white;
						border-radius: 50px;
						font-size: 24px;
						padding: .5rem 1rem;
					}
				}
			}
		}
		.disclaimer-card {
			background: $white;
			border: none;
			.card-header {
				background: transparent;
				border-bottom: none;
				.accicon {
					position: absolute;
					font-size: 40px;
					top: 30px;
					right: 40px;
				}
			}
		}
	}
}

.card-header:not(.collapsed) .rotate-icon {
	transform: rotate(180deg);
}

/***** Key Benefits Section Css *****/
.benefits-sec {
	border-left: 3px solid $black;
	&::before, &::after { 
		content:""; 
		position: absolute; 
		bottom: -10px; 
		left: -7px; 
		height: 12px; 
		width: 12px; 
		background: transparent; 
		border: 3px solid $black;
		border-radius: 12px;
	}
	&::after {
		top: -10px; 
		bottom: auto;
	}
	.key-benefits-sec {
		.key-main-sec {
			.key-circle {
				width: 100px;
				height: 100px;
				background: $white;
				border: 4px solid $black;
				border-radius: 50%;
				margin: 0 auto 20px auto;
			}
			.key-name {
				letter-spacing: 1px;
			}
		}
	}
}

.po-heading {
	position: relative;
	&::after {
		content: "";
		width: 500px;
		height: 3px;
		position: absolute;
		background: $black;
		bottom: -7px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

/**************** Custom Radio Button Css ****************/
.rdoPayEarly {
	border: 1px solid #C4D8ED;
    border-radius: 4px;
	.active {
		font-size: 10px;
		padding: 6px 30px;
		color: $black;
		background-color: #F2F8FC;
		border-color: #4599CD;
	}
	.notActive{
		font-size: 10px;
		padding: 6px 30px;
		color: $black;
		background-color: #fff;
		border-color: #C4D8ED;
	}
} 


/**************** Qoutes Section Css ****************/
.quotes-table {
	.form-card {
		border-radius: 30px;
		background-color: transparent;
		border: 3.5px solid #13499D;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-color: #13499d;
			height: 100%;
			width: 3.5px;
			top: 0;
			left: 52%;
		}
		.quotes-main-sec {
			.q-left {
				.q-row {
					&:nth-of-type(1),
					&:nth-of-type(2) {
						margin-bottom: 5rem;	
					}
					&:nth-of-type(3){
						margin-bottom: 1rem;	
					}
					.q-left-box {
						border: 8px solid #13499d;
						border-radius: 50px;
						font-size: 18px;
						font-weight: bold;
						letter-spacing: 1px;
						color: #4F494B;
						margin-bottom: 0;
						padding: 5px 3px;
						text-align: center;
					}
				}
			}
			.q-right {
				.select_wrap {
					.default_option {
						border: 7px solid #13499d;
						border-radius: 50px;
						padding: 14px 30px 14px 4px;
						&::before {
							top: 14px;
							right: 10px;
							border-color: transparent transparent $black $black;
						}
						.option {
							font-size: 28px;
							color: $black;
						}
					}
					.select_ul {
						top: 70px;
						.option {
							color: $black;
						}
					}
					&.active {
						.default_option {
							&::before {
								top: 24px;
							}
						}
					}
				}
				.final-mat-amt {
					color: #00BF63;
					font-size: 34px;
					font-weight: bold;
					text-align: center;
					letter-spacing: 1px;
				}
				.mat-amt-info-box {
					border: 4px solid $black;
					border-radius: 42px;
					background-color: grey;
					padding: 42px 30px;
					background-image: linear-gradient(to right, #ABABAB , #FAFAFA);
				}
			}
		}
	}
}

.quotes-payment {
	.pay_till_dd, .frequency_dd {
		border: 7px solid #4F494B;
		border-radius: 36px;
		padding: 8px 12px;
		.default_option {
			&::before {
				right: 8px;
				border-color: transparent transparent $black $black;
			}
			.option {
				font-size: 30px;
				color: $black;
			}
		}
		.select_ul {
			.option {
				color: $black;
			}
		}
	}
	.frequency_dd {
		padding: 8px 30px 8px 10px;
		.default_option {
			&::before {
				right: -12px;
			}
		}
	}
	.total-payable-amt-box {
		border-radius: 42px;
		background-color: $primary;
		padding: 20px;
		transition: .2s all;
		box-shadow: 0px 4px 8px 0px grey;
		&:hover {
			text-decoration: none;
			background-color: #093375;
		}
	}
}

.premiumBreakupTbl {
	.tblPremiumDetails {
		.tbl-primary {
			//background-color: $primary;
			background-image: linear-gradient($primary, $primary, $primary, rgba($primary,.98), rgba($primary,.94), rgba($primary,.88));
			color: $white;
		}
	}
	.modal-footer {
		.btn {
			color: $white;
			background-color: #9F9F9F;
			border-radius: 50px;
		}
	}
}



/**************** Footer Section Css ****************/
footer {
	.footer-texts {
		font-size: 20px;
		color: #A2A2A2;
		margin: 0;
		line-height: 26px;
	}
}